@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1>
      <span class="tagline">아무거나 적어요</span>
      이상한노트
    </h1>
    <p class="lead">ASP.NET으로 스크래치부터 작성하는 것을 보여드리고 싶지만 시간이 짧아서 어쩔 수 없이 미리 준비해왔어요. 뾰로롱 작성해볼까요?</p>
    <p><a class="btn btn-lg btn-success" asp-controller="Note" asp-action="Post" role="button">작성하기</a></p>
</div>

<div class="row content">
    <div class="col-md-7">
        <h3>이상한모임?</h3>
        <div>
          <ul>
            <li>까페에서 노트북 들고가 일하고 싶은데, 화장실이 급할 때!</li>
            <li>혼자있을 땐 집중이 안되는데 회사는 가기 싫을 때!</li>
            <li>공부한다는 핑계로 집에서 나왔는데 공부할게 없을 때!</li>
          </ul>
          <p>쿨하게 해시태그 <span style="color: #ff6600;">#<code>이상한모임</code></span>!</p>
        </div>
    </div>
    <div class="col-md-5">
        <h3>거의 다 끝나갑니다</h3>
        <div>금방 끝나요. 졸면 안됩니다. 😫 사실 재미 없으면 졸아도 되요. 끝에 이 예제를 받을 수 있는 주소가 공개됩니다! 암튼 졸지 마세요 😫😫😫</div>
    </div>
</div>
